.btn-reload{background-color:transparent;color:#fff;border:none;padding:10px 20px;border-radius:5px;font-size:16px;cursor:pointer;transition:background-color .3s ease;margin-left:50px;margin-top:2%}
.btn-reload:hover{background-color:transparent}
